body {
    font-size: 0.8rem;
    font-family: Marcellus;
    padding: 10px;
    background-color: whitesmoke;
    font-family: 'Marcellus', serif;
    font-family: 'Merienda', cursive;
}

header{
    align-items: center;
    text-align: center;
    background-color: #38b000;
    border-radius: 10px;
    box-shadow: 10px 5px 10px black;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

footer{
    align-items: center;
    text-align: center;
    background-color: #38b000;
    border-radius: 10px;
    box-shadow: 10px 5px 10px black;
}

section{
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 5px 10px gray;
}