body {
    font-family: 'Instrument Serif', serif;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 1rem;
    background-color: whitesmoke;
}

nav {
    background-color: #16DB65;
    color: #04471C;
    margin-top: -20px;
    padding: 10px;
    box-shadow: 0 0 30px #333;
    display: flex;
    flex-direction: column;
}

nav a:hover {
    background-color: #def4c6;
    border-radius: 10px;
    box-shadow: 0 0 30px #333;
}

p {
    padding: .5rem;
}

header , footer {
    display: flex;
    flex-direction: column;
    background-color: #04471C;
    color: whitesmoke;
}

a {
    gap: 20px;
    padding: 20px;
}

h1, h2, h3 {
    font-family: 'Barlow', sans-serif;
    align-content: center;
    align-items: center;
}

main section{
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%; 
}

ul {    
    text-align: center;
    list-style-position: inside;
}

.colors {
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.colors th {
    background-color: #999;
  }

.colors td{
    width: 25%;
    height: 3em;
}

.primary {
    background-color: #04471C;
    color: whitesmoke;
}

.secondary {
    background-color: #16DB65;
}

.accent1 {
    background-color: #def4c6;
}

.accent2 {
    background-color: whitesmoke;
}

footer {
    background-color: #04471C;
    color: whitesmoke;
    box-shadow: 0 0 30px #333;
    margin-top: 50px;
}