table {
    border-collapse: collapse;
    border: 2px solid silver;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 200px;
}

caption {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 2rem;
}

th, td {
    border: 1px solid silver;
    padding: 10px 20px ;
    text-align: center;
}

#headt {
    border-top: solid black;
    border-left: solid black;
    background-color: #444;
    color: white;
    font-size: 2rem;
}

#cell {
    background-color: black;
    color: black;
}

.not {
    color: red;
    font-weight: 1000;
}

.yes {
    color: green;
    font-weight: 1000;
}

tr:nth-child(odd) td {
    background-color: rgb(240,240,240);
}

footer {
    text-align: center;
}