*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arvo', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Boogaloo', cursive;
}

/* ------- HEADER -------*/
#all-header {
    background: linear-gradient(to bottom, #ffa551 0%,#ff7d00 100%);
    margin: auto;
    text-align: center;
    width: 100%;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

header picture img {
    width: 150px;
    border-radius: 100px;
    margin-top: 15px;
}

#second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 30px;
}

#social-media{
    display: flex;
    flex-direction: row;
}

#social-media img:hover{
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    
}

.primaryNav li {
    display: flex;
    flex-direction: row;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: black;
}

nav button:hover {
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    text-align: left;
}

nav ul li a:hover {
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
#hamburgerBtn span:nth-child(1) {
    display: block;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}
#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

/* ------- HOME ------- */
main {
    height: 300px;
}
/* ------- FOOTER ------- */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to bottom, #ff7d00 0%,#ffa551 100%);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);  
}

footer div {
    margin: 5px;
}

#logo-footer {
    width: 50px;
    height: auto;
    border-radius: 100px;
}