*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arvo', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Boogaloo', cursive;
}

/* ------- HEADER -------*/
#all-header {
    background: linear-gradient(to bottom, #ffa551 0%,#ff7d00 100%);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    margin: auto;
    text-align: center;
    width: 100%;
}

header picture img {
    width: 150px;
    border-radius: 100px;
    margin-top: 15px;
}

#second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 30px;
}

#social-media{
    display: flex;
    flex-direction: row;
}

#social-media img:hover{
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    
}

.primaryNav li {
    display: flex;
    flex-direction: row;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: black;
}

nav button:hover {
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    text-align: left;
}

nav ul li a:hover {
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
#hamburgerBtn span:nth-child(1) {
    display: block;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}
#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

/* ------- HOME ------- */

#main-space {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
}

#beach-box {
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

#beach {
    padding: 20px 20px 0 20px;
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
}

#beach-text {
    padding: 5px 20px;
    text-align: center;
}

#south {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 10px;
}

#weather-box {
    background-image: url("https://yuriro21.github.io/wdd230/bountiful-foods/images/sunset1.jpg");
    background-size: cover;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    text-shadow: white 0.1em 0.1em 1em;
    color: black;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);

}

#temperature {
    padding: 10px;
}

.weat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    
}

#days {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}


/* ------- FRESH -------*/
#all-fresh {
    justify-content: center;
    padding: 100px 5px;
    background-image: url(https://yuriro21.github.io/wdd230/bountiful-foods/images/fruits.jpg);
    background-size: cover;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);

}

.from-box {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 380px;
    padding: 10px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    background-color: #f8f9fa;
}

.titleForm {
    text-align: center;
    color: #008000;
    margin-bottom: -20px;
}

form fieldset {
    margin: 3rem 0;
    border: 1px solid #008000;
    padding: 1rem 2%;
}

form legend {
    color: #008000;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 18px;
}

form label.labelf, form div {
    display: block;
    padding-top: 1rem;
    color: black;
}

form label.labelf input, form label.labelf select {
    display: block;
    font-size: 1rem;
    border: solid 1px silver;
    border-radius: 4px;
    padding: 0.75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 22px;
}

/* ------- About US ------- */
#main-about {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
}

#history {
    margin: 0 auto;
    padding: 22px;
}

.title {
    text-align: center;
    color: #008000;
    padding-bottom: 20px;
}

#map {
    margin: 0 auto;
}

#info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    background-size: cover;
    border: 1px solid #008000;
    border-radius: 15px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);  
    gap: 5px;
}

/* ------- FOOTER ------- */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to bottom, #ff7d00 0%,#ffa551 100%);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);  
}

footer div {
    margin: 5px;
}

#logo-footer {
    width: 50px;
    height: auto;
    border-radius: 100px;
}

#credits-page {
    text-align: center;
}

#credits {
    color: black;
}

#credits:hover {
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    padding: 2px;
}