@media only screen and (min-width: 800px){

    /* ------- HEADER ------- */
    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
    }
 
    nav ul li a {
        font-size: 25px;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }

    #social-media img {
        width: 58px;
    }

    /* ------- HOME ------- */

    #main-space {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px; 
        gap: 20px;
    }
    
    /* ------- ABOUT US ------- */
    #main-about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px; 
        gap: 20px;
    }

    /* ------- FOOTER ------- */
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    footer div {
        margin: 10px;
    }
    
    footer p {
        font-size: 18px;
    }

    #logo-footer {
        width: 55px;
    }

}