@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Satisfy&display=swap');

nav {
    display: flex;
    flex-direction: column;
    background: rgb(32, 187, 248);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

ul{
    list-style: none;
}

main{
    max-width: 760px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
