@media only screen and (min-width: 32.5em) {
    body{
        margin-left: 20%;
        margin-right: 25%;
    }

    h1, h2 {
        font-size: 2.5rem;
        padding: 15px;
    }

    img {
        width: 120px;
        height: 150px;
    }

    ul {
        margin-top: -10px;
    }

    footer{
        font-size: 1.5rem;
        
    }
    
    .lastModif {
        font-size: 1.2rem;
    }
}