@media only screen and (min-width: 800px){

  
    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
    }

    nav ul li a {
        border: none;
    }
    
    .footer1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .line {
        display: none;
    }

}